#all-day-long {
  h3 {
    display: inline-block;
  }
}

.flex {
  height:100%;
  &.reverse {
    @media(max-width: $small) {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }
}
