#all-day-long {
  .blue {
    background-image: url('../images/all-day-long.png');
    background-size:cover;
    @media (min-width:$small) and (max-width:$medium){
      background-size: initial;
    }
    background-repeat: no-repeat;
    background-position: center;
  }
  h3 {
    font-style: italic;
    font-size: 5rem;
    @media(max-width: $medium) {
      font-size:4rem;
    }
    @media(max-width: $small) {
      font-size:3.5rem;
      line-height: 1.3em;
      margin-top:0;
    }
    text-align: left;
    padding: 0 3rem;
    opacity: 0.75;
  }
  p {
    padding:0 3rem;
    font-size: 3rem;
    @media(max-width:$medium){
      font-size: 1.5rem;
    }
    @media(max-width: $small) {
      font-size:1.35rem;
      padding: 0 1rem;
      margin-bottom: 0;
      margin-top: 0.5em;
    }
  }
  .flex .twin {
    &:first-child {
      flex-grow: 1;
    }
    &:last-child {
      flex-grow: 0;
    }
  }
}
