#all-day-long {
  .blue {
    background-image: url('../images/all-day-long.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  h3 {
    font-style: italic;
    font-size: 5rem;
    text-align: left;
    padding: 0 3rem;
    opacity: 0.75;
  }
  p {
    font-size: 3rem;
    padding:0 3rem;
  }
  // img {
  //   width:100%;
  // }
}