#phone-buzzes {
  @media(max-width: $small) {
    border: $primary solid 1.5rem;
    background: repeating-linear-gradient(
      -45deg,
      white,
      white 20px,
      lightgray 22px
    );
  }
  p {
    color:#000;
    font-style:italic;
    text-align: left;
  }
  .text-area {
    background: repeating-linear-gradient(
      -45deg,
      white,
      white 20px,
      lightgray 22px
    );
    p {
      font-size: 1rem;
      // find a better way to verically align this
      padding: 35% 1.55rem;
    }
  }
  mobile {
    p {
      text-transform: uppercase;
      font-size: 1.35rem;
      padding:0 1.15rem;
    }
  }
}

/******************************************************************
iPhone CSS
https://github.com/andrewgomez/iPhone-CSS
******************************************************************/
.phone-image {
  font-size: 0.3rem; /* edit this to change the size of the iPhone */
  display:block;
  margin:0 auto;
  position: relative;
  // background: -webkit-linear-gradient(left, #8e8e8e 0%, #f2f2f2 8%, #c1c1c1 15%, #8e8e8e 50%, #c1c1c1 85%, #f2f2f2 92%, #8e8e8e 100%);
  box-shadow: inset 0em .5em 0em rgba(255,255,255,.5),
              0em 1em 1em rgba(0,0,0,.45);
  width: 60em;
  height: 114em;
  border-radius: 6em;
  z-index: 1;
  text-align: initial;
  &:after {
    content:'';
    position: absolute;
    background-color: #fff;
    // background-image: -webkit-linear-gradient(-30deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.15) 40%, rgba(255,255,255,0.05) 41%, rgba(255,255,255,0.1) 100%);
    width: 52em;
    height: 78em;
    top: 16em;
    left: 3.5em;
    border-radius: 1.5em;
    border: .5em solid rgba(0,0,0,1);
    box-shadow: 0em .5em .5em rgba(255,255,255,.25);
    z-index: 3;
  }
  &.orange > div:first-child {
    position: absolute;
    bottom: 5em;
    left: 24.5em;
    width: 11em;
    height: 11em;
    border-radius: 5.5em;
    background: -webkit-linear-gradient(#eee 0%, #fff 100%);
    box-shadow: inset 0em .5em 1.5em rgba(0,0,0,.1);
    z-index: 4;
  }
  > div:first-child{
    &:before {
      content: '';
      position: absolute;
      top: -90em;
      width: 11em;
      height: 2.5em;
      border-radius: 1.5em;
      background: #636363;
      box-shadow: inset 0px .5px .5px rgba(0,0,0,1),
                  0em .5em .5em rgba(255,255,255,1);
      z-index: 4;
    }
    &:after {
      content: '';
      position: absolute;
      top: 4em;
      left: 4em;
      width: 2.5em;
      height: 2.5em;
      border-radius: 1em;
      border: solid #a3a3a3 .5em;
      z-index: 5;
    }
  }
  > div:last-child {
    position: absolute;
    top: 9.5em;
    left: -.5em;
    width: .5em;
    height: 5em;
    border-radius: .5em;
    background: -webkit-linear-gradient(#8e8e8e 0%, #f2f2f2 8%, #c1c1c1 15%, #8e8e8e 50%, #c1c1c1 85%, #f2f2f2 92%, #8e8e8e 100%);
    box-shadow: -.5em .5em 1.5em rgba(0,0,0,.45);
    z-index: 0;
    &:before {
      content: '';
      position: absolute;
      top: 12.5em;
      left: 0em;
      width: .5em;
      height: 3em;
      border-radius: .5em;
      background: -webkit-linear-gradient(#8e8e8e 0%, #f2f2f2 8%, #4b4b4b 60%, #4b4b4b 85%, #f2f2f2 92%, #8e8e8e 100%);
      box-shadow: -.5em .5em 1.5em rgba(0,0,0,.45);
      z-index: 0;
    }
    &:after {
      content: '';
      position: absolute;
      top: 23em;
      left: 0em;
      width: .5em;
      height: 3em;
      border-radius: .5em;
      background: -webkit-linear-gradient(#8e8e8e 0%, #f2f2f2 8%, #4b4b4b 60%, #4b4b4b 85%, #f2f2f2 92%, #8e8e8e 100%);
      box-shadow: -.5em .5em 1.5em rgba(0,0,0,.45);
      z-index: 0;
    }
  }
}

#phone-buzz {
  animation:vibrate 2.5s linear 0s infinite;
  -moz-animation: vibrate 2.5s linear 0s infinite;
  /* Firefox */
  -webkit-animation: vibrate 2.5s linear 0s infinite;
  // /* Safari and Chrome */
  -o-animation: vibrate 2.5s linear 0s infinite;
  // /* Opera */
}

@keyframes vibrate {
  0%, 2%, 4%, 6%, 8% {
    transform: translate(0,0);
  }
  1%, 5% {
    transform: translate(-7px,0) rotate(5deg);
  }
  3%, 7% {
    transform: translate(7px,0);
  }
}
@-moz-keyframes vibrate {
  0%, 2%, 4%, 6%, 8% {
    transform: translate(0,0);
  }
  1%, 5% {
    transform: translate(-7px,0) rotate(5deg);
  }
  3%, 7% {
    transform: translate(7px,0);
  }
}
@-webkit-keyframes vibrate {
  0%, 2%, 4%, 6%, 8% {
    transform: translate(0,0);
  }
  1%, 5% {
    transform: translate(-7px,0) rotate(5deg);
  }
  3%, 7% {
    transform: translate(7px,0);
  }
}
@-o-keyframes vibrate {
  0%, 2%, 4%, 6%, 8% {
    transform: translate(0,0);
  }
  1%, 5% {
    transform: translate(-7px,0) rotate(5deg);
  }
  3%, 7% {
    transform: translate(7px,0);
  }
}
