h1 {
  text-transform: uppercase;
  color: $secondary-rgba;
  font-size: 5em;
  display:inline;
  position: relative;
  &:after {
    content: "Safer Nudes";
    color: $primary-rgba;
    position: absolute;
    top:-10px;
    left:5px;
  }
}

h2 {
  text-align: center;
  color:white;
  text-transform: uppercase;
  background-color: $primary;
  width:100%;
  display:block;
  padding: 1em 0;
}

#safer-nudes {
  p {
    text-align: right;
    font-size: 0.8em;
  }
}