h1 {
  text-transform: uppercase;
  color: $secondary-rgba;
  display:inline-block;
  position: relative;
  font-weight: bolder;
  font-style: italic;
  letter-spacing: -3px;
  &:after {
    content: "Safer Nudes";
    color: $primary-rgba;
    position: absolute;
    mix-blend-mode:multiply;
    top:0.25rem;
  }
}

h2 {
  text-align: center;
  text-transform: uppercase;
  margin:0;
  padding: 1rem;
}

#safer-nudes {
  text-align: center;
  .orange {
    color:white;
    width:100%;
  }
  @media(max-width:$small) {
    img {
      width:80%;
    }
    h2 {
      font-size: 1rem;
    }
    #anaglyphic {
      display: inline-block;
    }
  }
  @media(min-width:$small){
    img, #anaglyphic {
      width:50%;
      display:inline-block;
    }
  }
  @media (min-width: 720px) and (max-width:$medium) {
    img, #anaglyphic {
      width:45%;
    }
  }
  @media(max-width:$medium) {
    h1 {
      font-size: 4rem;
      margin:0.5rem;
      line-height: 4rem;
      &:after {
        left:0.35rem;
      }
    }
  }
  @media (min-width:$medium) {
    img {
      margin-bottom: 1.5rem;
    }
    #anaglyphic {
      float:left;
      h1 {
        font-size: 7rem;
        line-height: 7rem;
        &:after {
          left:0.6rem;
        }
      }
    }
  }
}
