#send-nudes {
  @media(max-width: $small) {
    border: $primary solid 1.5rem;
  }
  .container, .text-area {
    overflow:hidden;
  }
  div:first-child > p {
    color: $primary;
  }
  div:last-child > p {
    color: $secondary;
  }
  mobile p {
    text-transform: uppercase;
    margin: 2px 5px;
  }
  p {
    font-size: 1.8rem;
    text-align: left;
    font-style: italic;
    font-weight: bolder;
    margin: 5px 10px;
    line-height: 2rem;
    animation:scroll 1.5s linear 0s infinite;
    -moz-animation: scroll 1.5s linear 0s infinite;
    /* Firefox */
    -webkit-animation: scroll 1.5s linear 0s infinite;
    // /* Safari and Chrome */
    -o-animation: scroll 1.5s linear 0s infinite;
    // /* Opera */
    &:first-child {
      margin-top:-100%;
    }
  }
}

@keyframes scroll {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(200%);
  }
}
@-moz-keyframes scroll {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(200%);
  }
}
@-webkit-keyframes scroll {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(200%);
  }
}
@-o-keyframes scroll {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(200%);
  }
}