#with-that-in-mind {
  h3 {
    text-align: left;
    padding: 0 3rem;
    font-size: 1.4rem;
    background: rgba(255, 255, 255, 0.5);
  }
  .blue {
    background-image: url('../images/with-that-in-mind.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  h4 {
    font-weight: bolder;
    font-size: 2.7rem;
    color: $primary;
    margin:0;
  }
  h3, o, bl, h4 {
    text-align:left;
    font-style: italic;
    text-transform: uppercase;
  }
  o, bl {
    font-weight: lighter;
    font-size: 2rem;
    span {
      display:block;
      font-weight: bold;
    }
  }
  @media(min-width:$small) {
    desktop {
      display: table-cell;
      vertical-align: middle;
    }
  }
  @media(max-width:$large) {
    bl, o, h4, bl span, o span {
      display:inline;
    }
    bl, o {
      font-size:1.5rem;
    }
  }
  .v-centre:last-child {
    flex-shrink: 2;
  }
}