@import "variables";
@import "safer-nudes";
@import "phone-buzzes";
@import "send-nudes";
@import "all-day-long";
@import "privacy-right";
@import "with-that-in-mind";
@import "enjoy";

html {
  font-family: Helvetica, Arial, sans-serif;
}

img {
  display:inline-block;
}

.container {
  max-width: 960px;
  margin:0 auto;
  padding:1em;
}

.orange {
  background-color: $primary;
  color:white;
  text-align: center;
  text-transform: uppercase;
}

.twin {
  width:45%;
  display:inline-block;
}