@import "variables";
@import "safer-nudes";
@import "phone-buzzes";
@import "send-nudes";
@import "all-day-long";
@import "privacy-right";
@import "with-that-in-mind";
@import "enjoy";

html {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin:0 auto;
}

.orange {
  background-color: $primary;
  p, h1, h2, h3, h4, h5, h6 {
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
  }
}

.blue {
  color: $secondary;
  text-transform: uppercase;
  text-align: left;
}

.twin {
  width:50%;
  margin:0;
  text-align: center;
}

.text-area {
  z-index: 4;
  position: absolute;
  width:52em;
  height: 77em;
  top:17em;
  left:3.5em;
}

desktop {
  @media(max-width: $small) {
    display:none;
  }
}
mobile {
  @media(min-width: $small) {
    display:none;
  }
}

.flex {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mobile-full {
  @media(max-width: $medium) {
    width:auto;
  }
}

.flex {
  &.container {
    height:100%;
  }
  &.reverse {
    @media(max-width: $medium) {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }
  &.forward {
    @media(max-width: $medium) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

.section {
  overflow:hidden;
}

.v-centre {
  display:table;
  height: 100%;
  > p, > h3 {
    @media(min-width: $medium){
      display:table-cell;
      vertical-align: middle;
    }
  }
  @media(max-width:$medium) {
    display:inline-block;
  }
}

o,d,bl {
  display:block;
}

o {
  color:$primary;
}
d {
  color:black;
}
bl {
  color:$secondary;
}