@import "variables";
@import "safer-nudes";
@import "phone-buzzes";
@import "send-nudes";
@import "all-day-long";
@import "privacy-right";
@import "with-that-in-mind";
@import "enjoy";

html {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin:0 auto;
}

.orange {
  background-color: $primary;
  p, h1, h2, h3, h4, h5, h6 {
    color:white;
    text-align: center;
    text-transform: uppercase;
  }
}

.twin {
  width:50%;
  margin:0;
}

.text-area {
  z-index: 4;
  position: absolute;
  width:52em;
  height: 77em;
  top:17em;
  left:3.5em;
}

desktop {
  @media(max-width: $small) {
    display:none;
  }
}
mobile {
  @media(min-width: $small) {
    display:none;
  }
}

.flex {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.mobile-full {
  @media(max-width: $small) {
    width:auto;
  }
}